{
  "extends": "eslint-config-egg",
  "rules": {
    "quote-props": [
      "error",
      "consistent"
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "jsdoc/check-tag-names": 0,
    "jsdoc/check-param-names": 0,
    "jsdoc/require-param": 0,
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }
    ],
    "curly": [
      "error",
      "all"
    ]
  }
}